.box-grid{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 25vh 80vh;
    gap: 10px;
    background-color: #fcdee0;
}

h1{
    text-align: center;
}

img{
    height: 250px;
}